hr
footer class="footer"
p class="pull-right" pow
p Icons取自 <a href="http://glyphicons.com">Glyphicons Free</a>，授权依照 <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>。</p>
p Powered by  <a href="http://www.royisme.com">ROYBOX</a>
